@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-3 py-2 outline-none;
  }
  .nav-link {
    @apply mr-3 cursor-pointer border-2 border-transparent transition-all hover:border-b-2 hover:border-solid hover:border-b-blue-600;
  }
  .scrolling-x {
    scroll-snap-type: x mandatory;
    word-wrap: break-word;
    white-space: nowrap;
  }
  .scrolling-x * {
    word-wrap: break-word;
  }
  .scrolling-x::-webkit-scrollbar-track {
    background-color: white;
  }

  .scrolling-x::-webkit-scrollbar {
    width: 2px;
    background-color: #eaeaea;
  }

  .scrolling-x::-webkit-scrollbar-thumb {
    border-radius: 4px;
    @apply bg-slate-50 transition-all hover:bg-slate-300;
  }
  .active-category {
    @apply bg-indigo-600 text-white;
  }
  .form-input {
    @apply w-full rounded-md border-2 border-solid border-slate-300 px-2 py-1 outline-none focus:border-indigo-600;
  }
  .b {
    @apply rounded-md px-3 py-2 outline-none transition-all;
  }
  .b-primary {
    @apply bg-indigo-600 text-white hover:bg-indigo-700;
  }
  .post-content {
    @apply leading-relaxed;
  }
  .post-content a {
    @apply text-indigo-600 underline;
  }
}
